<div class="row">
    <div class="twelve columns" id="main-container">
      <section class="row" id="home">
<div class="twelve columns">
<%= render 'form' %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>

<td><%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div></div>