<div class="row">
    <div class="twelve columns" id="main-container">
<section class="row page" id="profile" data-magellan-destination='profile'>
      
        <div class="twelve columns">
          <h5 class="page-heading"> ངོ་སྤྲོད།  |  Introduction</h5>

        </div>
        
        <div class="twelve columns">
        
<p>
We are actively engaged and dedicated in restoring many audio and video materials from 60’s to early 70’s containing literary materials, dharma teachings, cultural programs and so forth that are of historical and cultural importance to the Tibetan people. We found many of these treasures collecting dust at run down storages and neglected private collections in India and Nepal.<br /><br />

Materials, both video and audio, like these are of prime importance to our literature, culture and religion. We want to make an effort to identify and preserve such legacy so that they can live beyond their authors and benefit all. We will keep you updated.<br /><br /> If you need to get intouch with us please email info(at)youngtibet.com

Again, thank you very much. Your presence is appreciated,

The Conserve Tibet Team. </p>  
    
</div>
        
</section><!-- end of Profile -->

<section class="row page" id="profile" data-magellan-destination='profile'>

	 <div class="twelve columns">
          <h5 class="page-heading"> མི་སྣ།  |  People</h5>

        </div>
        
        <div class="twelve columns">
<div class="twelve columns">
	<div class="six columns">
        
<p>
	<strong>Jamyang Dorjee Chakrishar</strong>
 works for the Conservancy for Trans Himalayan Arts and Culture, an NGO dedicated to the preservation of Tibet's living cultural heritage around the world.<br /><br />

<strong>Tsultrim Chophel</strong>
works for the All India Radio and lives in Darjeeling, India. 
 </p>  
    
</div>

<div class="six columns">
        
<p>
	<strong>Rinchen Dharlo</strong>
is the President of the Tibet Fund. The Tibet Fund’s mission is to preserve the distinct cultural and national identity of the Tibetan people. <br /><br />

<strong>Thupten N Chakrishar (Project lead)</strong>
is a Tibetan entrepreneur and a web developer. He is the founder of VajraTV: Global Buddhist Telvision Network.<br /><br /> 

The project is highly indebted to <strong>Alexander Gardner, Ph. D</strong> for his continued support.
</p>  
    
</div>
        
</section><!-- end of Profile -->


<section class="row page" id="profile" data-magellan-destination='profile'>
      
        <div class="twelve columns">
          <h5 class="page-heading">Technical detail</h5>

        </div>
        
        <div class="twelve columns">

<p>
This website and its content management system was developed from scratch using Ruby on Rails and Zurb Foundation by @vajradog<br /><br />

The website is served from Heroku. Github is used for code management and version control. Soundcloud's api is used extensively throughout the site to serve the audio content. <br /><br />

<img src="https://github.global.ssl.fastly.net/images/modules/logos_page/Octocat.png" width="88">&nbsp; &nbsp;
<img src="https://d1lpkba4w1baqt.cloudfront.net/heroku-logo-light-88x31.png" width="88">&nbsp; &nbsp;
<img src="http://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Ruby_on_Rails.svg/150px-Ruby_on_Rails.svg.png" width="88">&nbsp; &nbsp;
<img src="http://apps.raisedeyebrow.com/cogito_wp/wp-content/uploads/2012/01/foundation-yeti-final.eps_.png" width="88">&nbsp; &nbsp;
<img src="http://cdn.doandroidsdance.com/assets/2013/02/soundcloud-logo.jpg" width="88">

</div>
        
</section><!-- end of Profile -->