<div class="row">
    <div class="twelve columns" id="main-container">



    	   <section class="row divider text-center">
          <h3>
            We can live without religion and meditation, but we cannot survive without human affection.
          </h3>
          <h4><em>- His Holiness the Dalai Lama</em></h4>
      </section>


<section class="row page" id="profile" data-magellan-destination='profile'>
      
        <div class="twelve columns">
          <h5 class="page-heading"> ཐུགས་རྗེ་ཆེ་   |  Thank You</h5>

        </div>
        
        <div class="twelve columns">
        
<p>
While we chalk out the logistics for ways to contribute to the repository and/or the project, please feel free share the website and it's resources.<br /><br />

 </p>  
    
</div>
        
</section><!-- end of Profile -->

